@media (min-width: 450px) {
  :root {
    --fs-1: 54px;
    --fs-2: 36px;
    --fs-3: 20px;
  }

  .home-text {
    max-width: 320px;
    margin-inline: auto;
  }

  .home .btn-group {
    flex-direction:  row;
  }
}


@media (min-width: 570px) {
  :root {
    --mw: 550px;
  }

  .navbar-wrapper,
  /*.home,*/
  .about,
  .product,
  .footer-wrapper {
    max-width: var(--mw);
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-1: 72px;
    --fs-2: 40px;
    --fs-3: 22px;
    --mw: 720px;
  }

  .section-title { max-width: 460px; }

  .about-left .img-box { aspect-ratio: 5 / 3; }

  .products-grid {
    grid-template-columns: 1fr 1fr;
    gap: 60px 40px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1024px) {
  :root {
    --py: 100px;
    --mw: 950px;
  }

  .navbar { padding: 35px 30px; }

  .navbar-nav {
    position: static;
    opacity: 1;
    visibility: visible;
    width:  auto;
    height: auto;
    transform: translateY(0);
    padding: 0;
    flex-direction: row;
    gap: 50px;
    pointer-events: all;
  }

  .menu-toggle-btn { display: none; }

  .home {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .home-text { margin-inline: 0; }

  .home .btn-group { justify-content: center; }

  .about {
    grid-template-columns: 3fr 4fr;
    gap: 80px;
    align-items: center;
    padding: var(--py) var(px) 120px;
  }

  .about-left .img-box { aspect-ratio: auto; }

  .products-grid { grid-template-columns: repeat(3, 1fr); }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (min-width: 1200px) {
  :root {
    --mw: 1150px;
  }
}