:root {
  --red-orange-crayola: #1f1f1f;
  --space-cadet: hsl(45, 22%, 4%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --saffron: #f5c532;
  --rhythm: #fff;
  --white: hsl(0, 0%, 100%);

  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;

  --px: 30px;
  --py: 60px;

  --default-transition: 0.75s ease;
}

/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li { list-style: none; }

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img, svg, ion-icon, span, button { display: block; }

html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: var(--cultured); }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--saffron);
}


/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.btn {
  height: 55px;
  padding: 0 25px;
  color: var(--space-cadet);
  font-size: 14px;
  font-weight: 500;
  transition: var(--default-transition);
}

.btn a {
  color: black;
}

.btn:hover { filter: saturate(1.05) brightness(1.05); }

.btn-primary { background: var(--saffron); }

.btn-secondary { background: var(--cultured); }

.btn-icon {
  display:     flex;
  align-items: center;
  gap: 10px;
}

.section-title {
  color: var(--white);
  font-size: var(--fs-3);
  font-weight: 600;
}

.section-title.underline {
  border-bottom: 2px solid #f5c532;
}

.section-text {
  max-width: 320px;
  color: var(--rhythm);
  font-size: var(--fs-4);
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top:   0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 30px;
  background: #b3001e;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
  z-index: 5;
}

.navbar-wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
}

.navbar-nav {
  background: #b3001e;
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  height: calc(100vh - 74px);
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 30px;
  padding: 35px;
  backdrop-filter: blur(10px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.navbar-nav.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.nav-link {
  color: white;
  font-size: var(--fs-5);
  transition: 0.25s ease;
}

.nav-link:hover { color: var(--saffron); }

.navbar-btn-group {
  display:     flex;
  align-items: center;
  gap: 25px;
}

.menu-toggle-btn {
  display:        flex;
  flex-direction: column;
  width: 20px;
  gap: 5px;
}

.menu-toggle-btn .line {
  background: white;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  transition: 0.25s ease;
}

.menu-toggle-btn.active .one { transform: translateY(7px) rotate(-45deg); }

.menu-toggle-btn.active .two { transform: rotate(45deg); }

.menu-toggle-btn.active .three { transform: translateY(-7px) rotate(-45deg); }

/*-----------------------------------*\ 
  #HOME
\*-----------------------------------*/

.home {
  height: 100vh;
  width: 100%;
  /*background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-bg {
  position: fixed;
  z-index: -99;
  height: 100%;
}

.home-center { text-align: center; }

.home-subtext {
  background: var(--cultured);
  color: var(--space-cadet);
  font-size: 13px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 30px;
}

.main-heading {
  color: white;
  font-size: var(--fs-2);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
}

.home-text {
  color: var(--rhythm);
  margin-bottom: 30px;
  line-height: 1.6;
}

.home .btn-group {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 15px;
}

.home-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  animation: lazy-scaleUp 30s linear infinite;
}


/*-----------------------------------*\ 
  #ABOUT
\*-----------------------------------*/

.about-left { position: relative; }

.about-left .map-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about .section-wrapper {
  display: grid;
  gap: 60px;
  padding: var(--py) var(--px);
}

.map {
  width:  100%;
  height: 100%;
  object-fit: cover;
}


@keyframes lazy-scaleUp {

  0%,
  100% { transform: scale(1); }
  50%  { transform: scale(1.2); }

}


.abs-content-box {
  background: var(--white);
  position: absolute;
  bottom: -20px;
  right:  -20px;
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
}

.dotted-border {
  border: 3px dotted var(--cultured);
  padding: 10px;
}

.number-lg {
  font-size: var(--fs-1);
  font-family: "Monoton", cursive;
  color: var(--space-cadet);
}

.text-md {
  font-size: var(--fs-3);
  font-weight: 600;
  color: var(--space-cadet);
}


.about-right .section-title { margin-bottom: 50px; }

.about-right p {
  max-width: 100%;
  margin-bottom: 30px;
}

/*-----------------------------------*\ 
  #PRODUCT SECTION
\*-----------------------------------*/

.product { padding: var(--py) var(--px); }

.product .section-title { margin-bottom: 50px; }

.product .section-text { margin-bottom: 60px; }

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.product-card .img-box {
  position: relative;
  overflow: hidden;
}

.product-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}

.product-card:hover .product-img { transform: scale(1.05); }

.card-badge {
  position: absolute;
  top:  15px;
  left: 15px;
  display:     flex;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
  font-size: 14px;
}

.card-badge ion-icon { font-size: 13px; }

.card-badge.green {
  background: var(--pistachio);
  color: var(--space-cadet);
}

.card-badge.red {
  background: var(--red-orange-crayola);
  color: var(--space-cadet);
}

.product-card .wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 15px;
  height: 60px;
  background: var(--cultured);
  margin-bottom: 15px;
}

.product-card .product-name {
  color: var(--space-cadet);
  font-size: var(--fs-3);
  font-weight: 600;
  padding-left: 15px;
}

.product-card .product-price {
  background: var(--saffron);
  height: 60px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  color: var(--space-cadet);
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.product-card .small {
  font-size: 14px;
  font-weight: 600;
}

.product-card .price-wrap {
  margin: 5px;
}

.section-price {
  float: right;
  text-align: center;
  margin-top: -5px;
}

.section-price .price-wrap {
  font-size: 22px;
  display: inline-block;
  margin-left: 15px;
}

.section-price .small {
  font-size: 14px;
  position: absolute;
  margin-top: -20px;
}

.product-card .product-text {
  font-size: var(--fs-4);
  color: var(--rhythm);
  line-height: 1.6;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.product-card .product-rating {
  display:     flex;
  align-items: center;
  gap: 5px;
  color: var(--saffron);
}

.product .btn-primary { margin-inline: auto; }
/*-----------------------------------*\ 
  #FOOTER
\*-----------------------------------*/

footer {
  background: #1f1f1f;
  padding: 50px var(--px);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.social-link {
  display: flex;
  gap: 15px;
  color: white;
  font-weight: 100;
  font-size: 12px;
}

.social-link ion-icon {
  margin-left: -10px;
  font-size: 15px;
  display: inline-block;
  color: var(--cultured);
  transition: 0.25s ease;
}

.social-link ion-icon:hover { color: var(--saffron); }

.copyright {
  font-size: 12px;
  color: var(--rhythm);
  text-align: center;
  letter-spacing: 0.5px;
}

.copyright a {
  color: white;
}

.product, .about {
  background: #161616;
}